/* ******************************** */
/* ******************************** */
/* ******************************** */

/* 
These are the colors used on this website:
#9BABB8
#EEE3CB
#D7C0AE
#967E76

Fonts used:
GoodBoy
LittlePaws
Nunito
OpenSans
RobotoMono
Ubuntu
*/

/* ******************************** */
/* ******************************** */
/* ******************************** */

@font-face {
  font-family: GoodBoy;
  src: url(../fonts/good-boy-font/GoodBoy-ZVJrl.ttf);
}

@font-face {
  font-family: LittlePaws;
  src: url(../fonts/little-paws-font/LittlePaws-8MZqZ.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}

/* General styles for the website */
img {
  width: 100%;
}

body {
  background-color: #EEE3CB;
  font-family: Ubuntu;
}

h1, h2, h3, h4, h5 {
  font-family: LittlePaws;
}

/* Navigation bar styles start */
nav {
  background-color: #9BABB8;
  font-family: GoodBoy;
  font-size: 1.35rem;
}

nav ul a {
  color: black !important;
  font-size: 1.25em;
}

.brand-logo img {
  margin-top: 2px;
  border-radius: 40%;
}

.sidenav {
  background-color: #EEE3CB;
  font-weight: 900;
}

.sidenav li > a {
  color: #000;
  font-size: 1.25em;
}
/* Navigation bar styles end */

/* Hero section styles start */
.hero {
  margin-top: 70px;
  margin-bottom: 70px;
}

.hero .hero_text {
  margin-top: 9vw;
}

.hero h1 {
  font-family: GoodBoy;
  font-size: 7rem;
}
/* Hero section styles end */

/* Random dog/cat images styles start */
.random_api_pet {
  text-align: center;
}

.carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-item img {
  margin: auto;
}

.card-carousel {
  width: 100%;
  height: 400px;
  object-fit: cover; /* This ensures the image maintains its aspect ratio */
}

.carousel .carousel-item {
  width:400px !important;
  object-fit: contain;
}
/* Random dog/cat images styles end */

/* Reasons to get dog/cat section styles start */
.pet_reasons {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 30px 0 30px;
}

.pet_reasons h2 {
  margin-bottom: 1.5em;
}

.pet_reasons h3 {
  font-size: 2em;
  margin-bottom: 20px;
}
/* Reasons to get dog/cat section styles end */

/* Random dog/cat facts styles start */
.pet_facts {
  margin-top: 80px;
  margin-bottom: 80px;
}

.pet_facts h2 {
  margin-bottom: 40px;
}

.pet_facts p {
  font-family: Nunito;
  font-size: 1.8rem;
}

#generate_fact_button.random_fact {
  background-color: #9BABB8;
}

#generate_fact_button.random_fact:visited {
  background-color: #9BABB8;
}

#generate_fact_button.random_fact:hover {
  background-color: #D7C0AE;
}

#generate_fact_button.random_fact:active {
  background-color: #D7C0AE;
}

/* Random dog/cat facts styles end */

/* Footer styles start */
.page-footer {
  background-color: #D7C0AE !important;
}

.page-footer .footer_title1 {
  margin-left: 15px;
}

.footer-copyright {
  background-color: #967E76 !important;
}

.footer-copyright .container {
  font-weight: 700;
}

.back-to-top {
  display: block;
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
  font-size: 14px;
  text-decoration: none;
  color: #9BABB8;
}

.back-to-top:hover {
  color: #D7C0AE;
}

/* Footer styles end */

/* ******************************** */
/* ******************************** */
/* ******************************** */

/* Breeds page styles start */
.pet_breeds {
  margin-top: 3vw;
  text-align: center;
}

.pet_breeds form label {
  font-size: 1.2rem;
}

.pet_breeds form {
  margin-bottom: 8vw;
}

.card-image {
  width: 100%;
  height: 400px;
  object-fit: auto;
}
/* Breeds page styles end */

/* ******************************** */
/* ******************************** */
/* ******************************** */

/* Single breed page styles start */
.more_info {
  background-color: #9BABB8;
}

.more_info:hover {
  background-color: #D7C0AE;
}

table {
  width: 90%;
  margin: auto;
  font-size: 1.45rem;
}
/* Single breed page styles end */

/* ******************************** */
/* ******************************** */
/* ******************************** */