

/* 
These are the colors used on this website:
#9BABB8
#EEE3CB
#D7C0AE
#967E76
*/

@font-face {
  font-family: GoodBoy;
  src: url(../fonts/good-boy-font/GoodBoy-ZVJrl.ttf);
}

@font-face {
  font-family: GoodPawoo;
  src: url(../fonts/good-pawoo-display-font/GoodPawooDisplay-qZd96.ttf);
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: LittlePaws;
  src: url(../fonts/little-paws-font/LittlePaws-8MZqZ.ttf);
}

@font-face {
  font-family: Paw;
  src: url(../fonts/mf-paw-prints/MF\ Paw\ Prints.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}


img {
  /* object-fit: contain; */
  width: 100%;
}

body {
  background-color: #EEE3CB;
  font-family: Ubuntu;
}



nav {
  background-color: #9BABB8;
  font-family: GoodBoy;
  font-size: 1.35rem;
}

nav ul a {
  color: black !important;
  font-size: 1.25em;
}

.brand-logo img {
  margin-top: 2px;
  border-radius: 40%;
}

.sidenav {
  background-color: #EEE3CB;
  font-weight: 900;
}

.sidenav li > a {
  color: #000;
  font-size: 1.25em;
}

.hero {
  margin-top: 70px;
  margin-bottom: 70px;
}

.hero .hero_text {
  margin-top: 5vw;
}

.hero h1 {
  font-family: GoodBoy;
  font-size: 7rem;
}

.random_api_dog {
  text-align: center;
}


.carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-item img {
  /* max-height:800px; 
  width: auto; /* Maintain the aspect ratio */
  margin: auto; /* Center the image horizontally */
}

.card-carousel {
  width: 100%; /* Set the desired width */
  height: 400px; /* Set the desired height */
  object-fit: cover; /* This ensures the image maintains its aspect ratio */
}

.carousel .carousel-item {
  width:400px !important;
  object-fit: contain;
}


.dog_reasons {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 30px 0 30px;
}

.dog_reasons h2 {
  margin-bottom: 1.5em;
}

.dog_reasons h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.page-footer {
  background-color: #D7C0AE !important;
}

.page-footer .footer_title1 {
  margin-left: 15px;
}

.footer-copyright {
  background-color: #967E76 !important;
}

.footer-copyright .container {
  font-weight: 700;
}






/* ******************************** */

.dog_breeds {
  margin-top: 3vw;
  text-align: center;
}

.dog_breeds form {
  margin-bottom: 8vw;
}



.card-image {
  width: 100%; /* Set the desired width */
  height: 400px; /* Set the desired height */
  object-fit: auto; /* This ensures the image maintains its aspect ratio */
}


.more_info {
  background-color: #9BABB8;
}

.more_info:hover {
  background-color: #D7C0AE;
}



table {
  width: 90%;
  margin: auto;
  font-size: 1.45rem;
}